OPUS_PRIVATE_KEY=
OPUS_GNOSIS_RPC=https://rpc.gnosischain.com
OPUS_BASE_RPC=https://mainnet.base.org
OPUS_BANKR_API_KEY=
OPUS_TELEGRAM_BOT_TOKEN=
OPUS_TELEGRAM_CHAT_ID=
OPUS_AMPERSEND_API_KEY=
OPUS_ZYFAI_SAFE_ADDRESS=
